		body {
			background-image: url("../images/bz.jpg")
		}
		body {
			background: url("../images/bz.jpg") no-repeat center center fixed;
			background-size:100% 100%;
			background-attachment: fixed;"
		}
		h1 {
			text-align: center;
		}
		h2 {
			text-align: center;
			font-size: 35px;
			color: red;
		}
		h3 {
			text-align: center;
			font-size: 33px;
			color: red;
		}
		a {
			color: yellow;
			background: ;
		}
		p {
			text-align: center;
			text-indent: 32px;
			font-size: 25px;
			line-height: 32px;
			color: black;
		}	
